@import "./undefine.css";
@import "./front.css";
@import "./productview.css";
body{
    margin: 0;
    margin: 0;
background-color: #fff;

}

/* ////////////// */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=PT+Sans+Narrow&family=Roboto:wght@400;700&display=swap');
.prviewpr{
  position: absolute;
height: 100%;
background-color: firebrick;
z-index: 10000;
left: 50%;
  width: 50%;
}
  .mmh{
    width: 250px;
    position: relative;
    background-color:#fff;
  display: flex;
  justify-content: center;
  align-items: center;box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    height: 400px;
    box-sizing: border-box;
  }
  .mmh2{
position: absolute;
width: 95%;height: 95%;
/* background-color: blue; */
  }
  .imgshoesvv{
    width: 100%;
    /* background-color: cornflowerblue; */
    height: 70%;position: relative;

  }
  .shntext{ width: 100%;
    /* background-color: rgb(114, 237, 100); */
    height: 30%;position: relative;display: block;


  }
  .ratty{
    position: absolute;
    top: 80%;
    left: 3%;
    display: flex;justify-content:center ;align-items: center;
  }
  .shgnam{
width: 100%;

position: absolute;
/* font-family: 'Lato', sans-serif; */
 /* font-family: 'PT Sans Narrow', sans-serif;  */
font-family: 'Roboto', sans-serif;
height: 30%;
font-weight: 700;
display: flex;
align-items: center;

padding-left: 3%;
/* background-color: magenta; */

  }
  .shgthh{
    width: 100%;
position: absolute;  font-family: 'PT Sans Narrow', sans-serif;  
top: 32%;
/* background-color: rgb(181, 238, 10); */
height: 30%;
padding-left: 4px;
color: rgba(129, 128, 128, 0.672);

  }
  .shgnampri{
    width: 100%;
position: absolute;
/* font-family: 'Lato', sans-serif; */
 /* font-family: 'PT Sans Narrow', sans-serif;  */

height: 30%;

display: flex;
align-items: center;
padding-left: 3%;
top: 73%;
/* background-color: rgb(255, 255, 0); */

  }
  .shgnampriP{
    font-family: 'Roboto', sans-serif;
  font-weight: 700;

  }
 
  .butextfa{
    border: 0.5px solid grey;
    display: flex;
    justify-content: center;
    align-items:center ;box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: #fff;
  }
  .butwhist{
    width: 100%;height: 60%;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    justify-content: center;
    
    display: flex;align-items: center;
  }
  .shsi{
    width: 100%;height: 40%;
    /* background-color: rgb(206, 71, 255); */
    font-family: 'PT Sans Narrow', sans-serif;  


padding-left: 4px;
color: rgba(180, 180, 179, 0.672);
  }
  .butextfa{
    width: 220px;
  
    outline: none; font-family: 'Lato', sans-serif;
    height: 40px;
    border-radius: 3px;
  }
  .butextfa:hover{
    border: 1px solid black;
  }

  .whistshow{
    width: 100%;
    height: 80%;
    top: 0;
    margin-left: 1.5%;
 
display:none ;
    z-index: 500;
   

position: absolute;
  }
.mmh:hover .whistshow{
    display: block;
    }
.mmh:hover .shgnam{
display: none;
}
.mmh:hover .shgthh{
    display: none;
    }
/* ////////////// */
.container{
    width: 100%;

    height: auto;
   
}
.priceu{
width: 60%;
/* background-color: #0ad221; */
float: left;
height: 100%;

}
.shoename{
    font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: larger;
    padding-top: 3%;
    padding-left: 9%;

height: auto;

}

.shoename > button{
    border: none;
  background-color:#0074e4 ;
   font-size: large;
   margin-left: 28%;
   border: #0074e4;
  
   color: #fff;
   border-radius: 6px;
}
.offerpror{

    text-decoration: line-through;
    margin-left: 3%;
}
.pricedis > .spanpr{
margin-left: 8%;
    font-size: 28px;
    vertical-align: sub;
    font-weight: 500;

}
hr{
    width:270px;
    height: 0.5px;

    background-color:	#CD853F	 ;
    margin-left: -5%;
}
.rowcla{
    /* width: 100%; */
    /* background-color: darkgrey; */
    display: grid;
    grid-auto-columns: 1fr; 
    grid-template-columns: 250px 250px 250px 250px 250fr; 
    grid-template-rows: 350fr; 
    gap: 15px 30px; 
    grid-template-areas: 
      ". . . . ."; 
    padding-top: 30px;
    height: auto;
    padding-left: 5px;
    
    
}
.row1{
    width: 100%;
    height: auto;
    background-color: blueviolet;
   display: flex;
   padding: 100px;
   

}
.bac1{
height:36vh;

    width: 600px;
}
.bac7{

    height:36vh;
    background-color: blue;
        width: 600px;
    }
    .bac8{
        height:36vh;
        background-color: rgb(153, 255, 0);
            width: 600px;
        }
        .bac9{
            height:36vh;
            background-color: rgb(0, 208, 255);
                width: 600px;
            }
            .bac10{
                height:36vh;
                background-color: rgb(255, 0, 8);
                    width: 600px;
                }
.bac2{
    height:36vh;
    background-color: rgb(0, 255, 13);
        width: 600px;
}
.bac3{
    height:36vh;
    background-color: rgb(255, 0, 0);
        width: 600px;
}
.bac4{
    height:36vh;
    background-color: rgb(255, 204, 0);
        width: 600px;
}
.bac5{
    height:36vh;
    background-color: rgb(255, 0, 238);
        width: 600px;
}
.bac6{
    height:36vh;
    background-color: rgb(0, 255, 132);
        width: 600px;
}

.bank{
    display: block;
    width: 293px;
    background-color: aqua;
    height: 126px;
    
}
.icon{
    float: left;
    margin-left: 3%;
}
.text{
    float: left;
    margin-left: 3%;
}



.imgshoes{
width: 250px;
background-color: chocolate;
height: 100%;


}
.rowclasss{
    width: 600px;
    min-width: 480px;
    margin-left: 30px;
    background-color: darkred;
    height:36vh;
}
.pricei1{
    width: 60%;
    height: 100%;
    background-color: rgb(255, 0, 0);
}

.row11{
    width: 600px;
    display: flex;
    margin-left: 8%;
    height:36vh;
    background-color: blue;
}
.row12{
    width: 600px;
    display: flex;
    margin-left: 8%;
    height:36vh;
    background-color: blue;
}
.inpus{
    width: 600px;
   padding-left: 10px;
    height: 30px;
    margin-left: 10%;
  display: block;
 /* border: none; */
 outline: none;
 border: none;box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 30px;
}
.buttdiv1{
    width: 100%;
    height: 50%;
    /* background-color: #0074e4; */
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}
.image{
width: 40%;
height: 100%;
float: left;
background-color: aquamarine;
}
.buttdiv2{
    width: 100%;
    height: auto;
   
    align-items: center;
display: flex;
   
}
.buttono{
    width: 65px;
    height: 40px;
    margin-left: 1%;
 border-radius: 10px;
max-width: 65px;
outline: none;
border: none;
background-color: #fff;
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   border: 0.5px solid #696969;
}
.buttono:hover{
    border: 1px solid  black;
}
.imgsh1{
    width: 40%;
    height: 100%;
    background-color: darkorange;
}
.buttdiv{
    width: 95%;
    position: relative;
    left: 4.5%;
    display: block;
    margin-left: auto;margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #fff;
    transform:translateX(-5%) ;
        /* background-color: brown; */
        height: 120px;
    

}
.img1{
    width: 40%;
    height:36vh;
    /* background-color: rgb(251, 255, 127); */
}
.row{
margin-top: 2%;
    width: 100%;
  display: flex;
    /* display: grid;
    gap: 3rem 2rem; */
    display: grid;
  gap: 1rem 2rem;

    justify-items: center;
    background-color: rgb(44, 165, 42);
    height: auto;

}

.pricing{
    width: 70%;
    height:36vh;
    background-color: rgb(226, 43, 214);
}
@media (min-width: 600px) {
    .rowcla { grid-template-columns: repeat(2, 1fr); }
  }
  @media (max-width: 600px){

    
  }

  .productview{
    width: 100%;
    background-color: aqua;
    position: absolute;
    top: 0;
    z-index: 100000;
    height: 100vh;
  }
  .jjjlp{
    display: none;
  }

  .opac{
    opacity: 0.5;
    overflow-y: hidden;
    
  }