
@import url('https://fonts.googleapis.com/css2?family=Lato&family=PT+Sans+Narrow&family=Roboto:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=PT+Sans+Narrow&family=Roboto:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=PT+Sans+Narrow&family=Playpen+Sans&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=PT+Sans+Narrow&family=Roboto:wght@400;700&display=swap');
.whites:hover{
border: 1px solid rgb(0, 0, 0);
}
.pincodeinp{
width: 200px;
position: absolute;
top: 60%;
height: 40px;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
border: none;
outline: none;
padding-left: 1%;
border:0.5px solid grey;
border-radius: 5px;
}
.pincodeinp:focus-visible{
border:1px solid rgb(12, 12, 12);
}

.whites{
    width: 70%;
    height: 60%;
    border: none;
outline: none;
/* background-color: 
orange; */
border-radius: 5px;


margin-left: -83px;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

/* box-shadow: 0 1px 2px 0 rgba(0,0,0,.2); */

border: none;
font-size: 15px;
display: flex;
padding: 18px 8px;
justify-content: center;
font-weight: 500;
align-items: center;
background-color:#ffff;
color: black;
color: #fff;
font-family: Roboto,Arial,sans-serif;

  font-size: 15px;
    border: none; box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
outline: none; font-family: Roboto,Arial,sans-serif;

}
.addcar:hover{
    background-color :orange ;
}
.addcar{
    width: 70%;
    height: 60%;
    border: none;
outline: none;
/* background-color: orange; */



border-radius: 5px;
box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);

border: none;
font-size: 15px;
display: flex;
padding: 18px 8px;
justify-content: center;

font-weight: 500;
align-items: center;
background: #ff9f00;
color: #fff;
font-family: Roboto,Arial,sans-serif;

    background-color: coral;font-size: 15px;
    border: none; box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
outline: none; font-family: Roboto,Arial,sans-serif;

}

.shgnampriP{

    font-family: 'Roboto', sans-serif;
font-weight: 700;
font-size: larger;
}
.addcartandwhist1{
    float: left;
    /* background-color: magenta; */
    width: 50%;
    display: flex;
    align-items: center;
   
   
    /* justify-content: center; */
    height: 98%;
}
.addcartandwhist2{
    float: left;
    /* background-color: rgb(246, 255, 0); */
    width: 50%;
    height: 98%;
    display: flex;
  
    align-items: center;
}
.shgnampri{
width: 100%;
position: absolute;
/* font-family: 'Lato', sans-serif; */
/* font-family: 'PT Sans Narrow', sans-serif;  */

height: 5%;

display: flex;
align-items: center;
/* padding-left: 3%; */
top: 21%;
/* background-color: rgb(255, 255, 0); */

}

body{
    margin: 0;
   
}
.mayn{
width: 100%;
/* background-color: rgb(80, 249, 255); */
height: 100vh;
}
.hrline{
border-bottom: 1px solid rgb(255, 0, 0);
height: 500px;
position: absolute;
top: 40%;

}
.vl {
color:rgba(129, 128, 128, 0.672);
margin-left: 4%;
border-left: 1.5px solid rgba(129, 128, 128, 0.672);
height: 25px;
}
.matyh1{
width: 95%;
/* height: 60%; */
position: absolute;
top: 2%;
border-radius: 5px;
border: 0.5px solid rgb(195, 193, 193);
display: block;margin-left: auto;margin-right: auto;
background-color: #ffff;
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.mayn1{
width: 50%;
/* background-color: blue; */
float: left;
height: 100%;position: relative;
}
.mayn2{width: 50%;
/* background-color: #fb0000; */
height: 100%;float: left;

position: relative;

}
.imagemayn1{
width: 98%;
position: relative;
/* background-color: chartreuse; */
height: 50vh; margin-top: 1%;
display: block;margin-left: auto;margin-right: auto;
}
.imagemayn1oro{
/* position: absolute; top: 52%; */
/* margin-top: 2%; */
display: block;margin-left: auto;margin-right: auto;
width: 88%;height: 16%;
/* background-color: coral; */
display: flex;
margin-bottom: 2%;
margin-top: 1%;
justify-content: center;
align-items: center;
}
.imagemayn1orodivs{
width: 150px;

height: 110px;
/* background-color: blue; */
}
.addcartandwhist{
width: 100%;
/* background-color: dodgerblue; */
height: 10%;
display: flex;
position: absolute;
top: 43%;


align-items: center;
}
.imagemayn1orodivs:nth-child(2){
margin-left: 1%;
}
.imagemayn1orodivs:nth-child(3){
margin-left: 1%;
}
.imagemayn1orodivs:nth-child(4){
margin-left: 1%;
}

.shn{
width: 100%;
position: absolute;
background-color:#ffff;
height: 5%;top: 4%;
font-family: 'Roboto', sans-serif;
display: flex;
font-size: x-large;
align-items: center;
font-weight: 700;
padding-left: 0%;
}

.shndi{
font-family: 'Lato', sans-serif;
font-family: 'PT Sans Narrow', sans-serif;
width: 100%;position: absolute;
/* background-color: rgb(7, 139, 0); */
top: 9%;
height:5% ;
overflow-y: hidden;
position: absolute;
font-size: large;
font-family: 'PT Sans Narrow', sans-serif;  

padding-left: 0px;
padding-right: 2px;
color: rgba(129, 128, 128, 0.672);

}
.inclutax{
width: 100%;
height: 4%;
/* font-family: 'Lato', sans-serif; */
font-family: 'PT Sans Narrow', sans-serif;
font-weight: bolder;
/* padding-left: 10px; */
position: absolute;
top: 26%;align-items: center;
display: flex;
color: rgb(93, 164,134);
/* background-color: indigo; */
}
.sizesg{
width: 100%;
height: 4%;
/* font-family: 'Lato', sans-serif; */
font-family:  sans-serif;
font-weight: 700;
display: flex;

/* padding-left: 10px; */
position: absolute;

top: 33%;align-items: center;
display: flex;
color: rgb(2, 2, 2);
/* background-color: rgb(37, 130, 0); */
}
.sizesg2{
width: 100%;
height: 4%;
top: 37%;
position: absolute;
/* background-color: #ff9f00; */

}
.rattu{
width: 100%;position: absolute;
height: 6%;
/* background-color: cornsilk; */
top: 13%;

display: flex;align-items: center;
}
.rattu1{
width: 14%;
height: 90%;
/* background-color: cyan; */
display: flex;
align-items: center;
/* border: 0.5px solid rgb(195, 193, 193); */
}